:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  width: 100%;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

html {
  min-height: 100%;
  font-family: Arial;
}

body {
  min-height: 100%;
  padding: 0.1px;
  margin: 0;
  background-image: url("/static/images/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
}

.menu {
  height: 50px;
  background: black;
  display: none
}

.box {
  border: 1px solid gray;
  border-radius: 10px;
  margin: 10px;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.2);
}

.score {
  text-align: center;
  font-size: 3rem;
}

.progress {
  text-align: center;
  font-size: 1.5rem;
}

.win_condition {
  text-align: center;
  font-size: 1.5rem;
}

.time {
  text-align: center;
  font-size: 2.5rem;
}

.progress-container {
  position: relative;
  width: 100%;
  height: 30px;
}

.progress-full {
  margin: auto;
  width: 30%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid white;
}

.progress-value {
  width: 30%;
  height: 100%;
  background-color: white;
}

[data-color=green] .score {
  color: green;
}

[data-color=green] .progress-full {
  border-color: green;
}

[data-color=green] .progress-full > * {
  background-color: green;
}

[data-color=yellow] .score {
  color: yellow;
}

[data-color=yellow] .progress-full {
  border-color: yellow;
}

[data-color=yellow] .progress-full > * {
  background-color: yellow;
}

[data-color=red] .score {
  color: red;
}

[data-color=red] .progress-full {
  border-color: red;
}

[data-color=red] .progress-full > * {
  background-color: red;
}