html {
    /* min-height: 100%; */
    font-family: Arial;
}

body {
    /* min-height: 100%; */
    margin: 0;
    background-image: url("/static/images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
}

.menu {
    height: 50px;
    background: black;
    display: none
}

.box {
    border: 1px solid gray;
    border-radius: 10px;
    margin: 10px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.2);
}

.score {
    text-align: center;
    font-size: 3rem;
}

.progress {
    text-align: center;
    font-size: 1.5rem;
}

.win_condition {
    text-align: center;
    font-size: 1.5rem;
}

.time {
    text-align: center;
    font-size: 2.5rem;
}

.green {
    color: green;
}

.progress-container {
    position: relative;
    width: 100%;
    height: 30px;
}

.progress-full {
    margin: auto;
    width: 30%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid white;
}

.progress-value {
    width: 30%;
    height: 100%;
    background-color: white;
}