<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PurpleExercise</title>
    <script type="module" crossorigin src="/static/assets/red_team-577a5925.js"></script>
    <link rel="modulepreload" crossorigin href="/static/assets/Main-42153036.js">
    <link rel="stylesheet" href="/static/assets/Main-d95e4050.css">
  </head>
  <body>
    <div id="app"></div>
    
    <script>
      const red_target = "{{ red_target }}"
      const red_user = "{{ red_user }}"
      const red_password = "{{ red_password }}"
    </script>
  </body>
</html>
